asgiref==3.8.1
beautifulsoup4==4.12.3
black==24.8.0
bs4==0.0.2
build==1.2.1
CacheControl==0.14.0
certifi==2024.7.4
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
crashtest==0.4.1
cycler==0.12.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.7
django-debug-toolbar==4.4.6
django-extensions==3.2.3
djangorestframework==3.15.2
dulwich==0.21.7
factory-boy==3.3.0
Faker==26.0.0
fastjsonschema==2.20.0
filelock==3.15.4
flake8==7.1.1
fonttools==4.53.1
git-filter-repo==2.45.0
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
kiwisolver==1.4.5
matplotlib==3.9.1
mccabe==0.7.0
more-itertools==10.4.0
msgpack==1.0.8
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pexpect==4.9.0
Pillow==9.5.0
pkginfo==1.11.1
platformdirs==4.2.2
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycodestyle==2.12.1
pyflakes==3.2.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
pytest==8.3.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
rapidfuzz==3.9.6
requests==2.32.3
requests-toolbelt==1.0.0
seaborn==0.13.2
shellingham==1.5.4
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
tomlkit==0.13.0
trove-classifiers==2024.7.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
whitenoise==6.7.0
